.wrapperForm {
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 2px 2px 2px 4px rgba(104, 104, 104, 0.4);
    margin: auto;
}

.form {

}

.field {
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
    border: 1px solid #6A6969;
    color: #000000;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
}

.field {
    margin-right: 10px;
}
.field:nth-child(2) {
    max-width: 90px;
}

.fieldGroup {
    padding: 5px;
    display: flex;
}
.remove {
    padding: 6px 7px;
    font-size: 20px;
    font-family: sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff0000;
}
.button {
    padding: 12px 40px;
    border: none;
    display: block;
    margin: 0 auto;
    font-family: sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #6394ec;
    border-radius: 3px;
    color: #ffffff;
    transition: background-color .3s ease;
}

.button:hover {
    background-color: #2e59a1;
}