.wrapperForm {
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 2px 2px 2px 4px rgba(104, 104, 104, 0.4);
    margin: auto;
}

.field {
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
    border: 1px solid var(--pallete-color5);
    color: var(--pallete-color1);
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
}

.field {
    margin-right: 10px;
}

.field:nth-child(2) {
    max-width: 90px;
}

.fieldGroup {
    padding: 5px;
    display: flex;
    transition: background-color .3s ease;
    border-radius: 3px;
}

.fieldGroup:hover {
    background-color: rgba(104, 104, 104, 0.15);
}

.remove {
    padding: 6px 7px;
    font-size: 20px;
    font-family: sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--pallete-color6);
}

.button {
    padding: 12px 40px;
    border: none;
    display: block;
    margin: 0 auto;
    font-family: sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--pallete-color7);
    border-radius: 3px;
    color: var(--pallete-color2);
    transition: background-color .3s ease;
}

.button:hover {
    background-color: var(--pallete-color8);
}