:root {
  --pallete-color1: #000000;
  --pallete-color2: #ffffff;
  --pallete-color3: #e3e3e3;
  --pallete-color4: #0101cb;
  --pallete-color5: #6A6969;
  --pallete-color6: #ff0000;
  --pallete-color7: #6394ec;
  --pallete-color8: #2e59a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pallete-color3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.pie-chart {
  position: relative;
}

.pie-chart-value {
  fill: none;
  stroke-width: 150;
  transition: all .3s ease;
  position: relative;
}

.pie-values li {
  position: relative;
  list-style: none;
  padding: 8px;
}

.pie-values li:after {
  --color: attr(data-color);
  content: '';
  position: absolute;
  top: 10px;
  left: -12px;
  width: 12px;
  height: 12px;
  background-color: var(--color);
}